.body-content{  display: grid;
  grid-template-columns: 0.4fr 1.6fr 1fr;
  grid-template-rows: 0.04fr 0.06fr 1.4fr .6fr 2fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "side-menu header-content header-content"
    "side-menu content-tittle content-around-icons"
    "side-menu content-video content-details"
    "side-menu content-resume content-resume"
    "side-menu content-discussions content-discussions"
    "side-menu footer footer";
}

.content-tittle { grid-area: content-tittle; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ED7839;
  margin-left: 36px;
  margin-top: 20px;
  margin-bottom: 19px;
}
  


.content-video { grid-area: content-video; 
  margin-left: 36px;
  margin-bottom: 27px;
  width: 783px;
  height: 439px;
  border: 0px;
}



.content-resume { grid-area: content-resume; 
width: 1058px;
height: auto;
margin-left: 37px;
border: 1px solid #ECECEC;
border-radius: 3px;
flex-wrap: wrap;
}

.resume-tittle{
  background: #FDF1EB;
border: 1px solid #ECECEC;
border-radius: 3px 3px 0px 0px;
height: 45px;
}

.resume-tittle h4{
color: #4E4E4E;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
margin: 11px 15px 9px 15px;
}

.resume-description{
margin: 15px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.02em;
color: #5C5C5C;
text-align:justify;
}


.footer { grid-area: footer; }

.footer img{
  margin-left: 14px;
}
